<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <tabset>
    <tab heading="Професії">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th scope="col">Швидкість та гнучкість мислення</th>
            <th scope="col">Вміння швидко приймати рішення</th>
            <th scope="col">Стійкість та концентрація уваги</th>
            <th scope="col">Зорова пам'ять</th>
            <th scope="col">Швидкість реакції</th>
            <th scope="col">Рухлива пам'ять</th>
            <th scope="col">Фізична виносливість</th>
            <th scope="col">Координація рухів</th>
            <th scope="col">Емоційно-вольова тійкість</th>
            <th scope="col">Відповідальність</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of proffesionData; let i = index; trackBy: trackByFn">
            {{ proffesions[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" appMyNumberOnly [(ngModel)]="proffesionData[i][j]" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Кандидати">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th scope="col">Швидкість та гнучкість мислення</th>
            <th scope="col">Вміння швидко приймати рішення</th>
            <th scope="col">Стійкість та концентрація уваги</th>
            <th scope="col">Зорова пам'ять</th>
            <th scope="col">Швидкість реакції</th>
            <th scope="col">Рухлива пам'ять</th>
            <th scope="col">Фізична виносливість</th>
            <th scope="col">Координація рухів</th>
            <th scope="col">Емоційно-вольова тійкість</th>
            <th scope="col">Відповідальність</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of candidateData; let i = index; trackBy: trackByFn">
            {{ candidates[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" appMyNumberOnly [(ngModel)]="candidateData[i][j]" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="maxMin()">Calculate Max-Min</button>
    <button type="button" class="btn btn-primary" (click)="maxProd()">Calculate Max-Prod</button>
  </div>
</div>
<div class="container" *ngIf="showResult">
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-primary">
          <td></td>
          <td *ngFor="let proffesion of proffesions">
            {{ proffesion }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of resultData; let i = index; trackBy: trackByFn">
          {{ candidates[i] }}
          <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
            {{ resultData[i][j] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
      <ngx-charts-bar-vertical-2d
      [view]="view"
      [results]="chartData"
      [legend]="showLegend"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [roundDomains]="roundDomains"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
<router-outlet></router-outlet>
